h1 {
    font-size: 6vw;
    margin-top: 50px;
    text-align: center;
    /*no one cares about Opera Mini */
}

body {
    font-family: 'Share Tech Mono', monospace;
    background: rgba(0,0,0,0.8);
    color: rgba(255,255,244,0.8);
}

form {
    margin-left: 40%;
}

input {
    font-family: 'Share Tech Mono', monospace;
    width: 250px;
    height: 50px;
    font-size: 3vw;
}

p {
    font-size: 3vw;
}

button {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3vw;
    color: rgba(0,0,0,0.8);
    background: white;
}