$def with (username)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Account successfully Created.
        </title>
        <meta charset="UTF-8">
        <link href='/static/css/register.css' rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    </head>
    <body>
        <h1>Account $username was successfully created. Please check your email for your unique login link.</h1>
    </body>
</html>
