$def with (email)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Come on...
        </title>
        <meta charset="UTF-8">
        <link href='/static/css/register.css' rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    </head>
    <body>
        <p>Please use your <i>real</i> email address. Not a disposable one or something your imagination wanders 
        away with. A <i>real</i> email address. Apologies if you're getting this in error. Please contact support if so.</p>
        <p>You need to use a real email address because this service is passwordless. We generate a unique passphrase for you to login.</p>
    </body>
</html>