$def with (email) 
<!DOCTYPE html>
<html>
    <head>
        <title>
            Wrong email
        </title>
        <meta charset="UTF-8">
        <link href='/static/css/register.css' rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
        <style>
            a {
                color: white;
            }
        </style>
    </head>
    <body>
        > console.log(username.email = $email)<br>
        < False<br>
        > // That email is not associated with that username
    </body>
</html>