<!DOCTYPE html>
<html>
	<head>
		<title>bStego</title>
		<meta charset="UTF-8">
		<link href='/static/css/main.css' rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
	</head>
	<body>
		<div id="top">
			<h1><span id="spec">&gt;_</span>bStego</h1>
			<h2>Steganography at your fingertips</h2>
		</div>
		<hr>
		<div id="content">
			<p>
				<a href="/register">&gt; Register</a>
			</p>
			<p>
				<a href="/login">&gt; Login to your account</a>
			</p>
			<p>
				<a href="/api">&gt; Steganography API (developing)</a>
			</p>
			<p>
				<a href="/about">&gt; How its done</a>
			</p>
		</div>
	</body>
</html>