<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Info was Not Fully Specified</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
        <style>
            span {
                text-decoration: underline;
            }
            body {
                font-family: 'Share Tech Mono', monospace;
            }
        </style>
    </head>
    <body>
        <p>
            You left one or more of the fields for registration empty. :(. To go back and resubmit your form 
            you can click <span onclick="window.history.back();">here</span>.
        </p>
    </body>
</html>