<!DOCTYPE html>
<html>
    <head>
        <title>
            Please make or login to an account
        </title>
        <meta charset="UTF-8">
        <link href='/static/css/register.css' rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
        <style>
            a {
                color: white;
            }
        </style>
    </head>
    <body>
        > I'm not going to let you crash my interface that easily :D.<br>
        > Please register <a href="/register">here</a> or login <a href="/login">here</a>.<br>
        > return True
    </body>
</html>